[Unit]
Description=LDAP authentication proxy for Nginx
After=network.target network-online.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/run
ExecStart=/opt/ldap-auth-proxy/ldap-auth-proxy.py --host localhost
KillMode=process
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target